div.camera-card-container {
    display: inline-block;
    background-color: #133d0b;
    border: 2px solid white;
    border-radius: 10px;
    width: 26%;
    margin: 20px 20px;
    max-height: 700px;
    padding: 20px 5px;
}


img.camera-card-logo {
    display: block;
    margin: 8px auto;
    height: 92px;
    width: 137px;
}

div.row.camera-card-info-part {
    margin-top: 8px;
}

span.camera-card-titles {
    margin-bottom: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

span.camera-card-each-info {
    color: #ffac12;
    font-size: 18px;
    font-weight: bold;
}

button.camera-card-camera-button {
    display: block;
    margin: 20px auto 50px;
    width: 80%;
    background-color: #206fa3;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}


@media screen and (max-width: 1200px){

    img.camera-card-logo {
        height: 62px;
        width: 92px;
    }

    span.titles-in-camera-card {
        font-size: 14px;
    }

    span.camera-card-each-info {
        font-size: 14px;
    }

    button.camera-card-camera-button {
        font-size: 12px;
        margin-bottom: 20px;
    }


}

@media screen and (max-width: 1024px){
    div.camera-card-container {
        /*float: left;*/
        width: 40%;
        display: inline-block;
    }
}