.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position:fixed;
    background: white;
    width: 60%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.modal-header-title {
    text-align: right;
}

.modal-header-close {
    display: block;
    text-align: left;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}

.modal-header-close , .modal-header-title {
    color: black;
    margin: 20px 10px 10px;
    padding: 0;
}

.modal-header-hr {
    border-top: 1px solid black;
    margin-right: 0;
    margin-left: 0;
}

.modal-close-button, .modal-register-button, .live-modal-register-button {
    width: 40%;
    color: white;
    border: 0;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.modal-close-button {
    background-color: #c11818;
}

.modal-register-button {
    background-color: #0eb70b;
}

.live-modal-register-button {
    margin: 10px;
    background-color: #d35100;
}


.custom-modal-body {
    padding: 10px 5%;
}


[class*="modal-title"] {
    text-align: right;
}

[class*="modal-footer"] {
    display: block;
    margin: auto;
}

[class*="form-label"] {
    display: block;
    text-align: right;
    direction: rtl;
}


[class*="form-label"] {
    direction: rtl;
    text-align: center;
}

[class*="form-label"] {
    direction: rtl;
    text-align: center;
    align-items: center;
}


::placeholder {
    text-align: center;
}

::-moz-placeholder{
    text-align: center;
}

::-ms-input-placeholder{
    text-align: center;
}

::-webkit-input-placeholder{
    text-align: center;
}

label.live-query-label {
    color: #FFFFFF;
}

div.live-modal-container {
    margin: 20px;
    background-color: rgba(0,0,0,0.8);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(255,255,255,.5),
            3px -3px 3px rgba(255,255,255,.5);
}

@media screen and (max-width: 900px){
    .modal-main {
        width: 80%;
    }

    .modal-close-button, .modal-register-button {
        width: 80%;
    }
}

@media screen and (max-width: 768px){
    .modal-main {
        width: 90%;
    }

    .modal-close-button, .modal-register-button {
        width: 100%;
    }
}